<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.njh.dao.UserInfoDao">

    <select id="queryUser" resultType="com.nf.njh.entity.UserInfo">
        select u_name ,u_password from userinfo where u_name = #{uName} and u_password = #{uPassword}
    </select>
    <select id="getAllUser" resultType="com.nf.njh.entity.UserInfo">
          select  u_name, u_password, u_status from userinfo order by u_id
    </select>

    <select id="selectUerName">
       select u_id, u_name, u_password, u_status from userinfo where u_name =  #{uName}
    </select>


</mapper>